main {
    position: relative;
    background-image: url(  https://t.ctcdn.com.br/DLGmfFOMwkjHdf8yiVSC6MlXTSE=/1024x0/smart/i230550.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }


  h1 {
    font-size:  110px;;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 10%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    bottom: 40%;
    font-family: 'Tilt Prism', cursive;
  }
  
  
  .hero {
    position: relative;
    height: 600px;
    background-position: center;
    
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay1 { /* overlay é o nome da classe , aqui faremos a cor ficar por cima da imagem */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(62, 60, 60, 0.5);
  }
  
  .buttons {
    position: absolute;
    bottom: 20%;
    left: 10%;
    position: absolute;
    
    left: 10%;
  }
  
  .watch-button, .more-info-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .more-info-button {
    background-color: rgba(128, 128, 128, 0.6);
  }
  
  .watch-button:hover, .more-info-button:hover {
    background-color: #919090;
    color: #e50914;
  }